body {
  margin: 0;
  background-color: rgb(00, 00, 255);
}
.row, .col { overflow: hidden; position: absolute; }
.row { left: 0; right: 0; }
.col { top: 0; bottom: 0; }
.scroll-x { overflow-x: auto; }

.scroll-y { 
  overflow-y: auto; 
  width: fit-content;
  background-color: red;
}

.header.row { height: 150px; top: 0; }
.body.row { top: 150px; bottom: 10px; }

h1 {
  font-size: 2.5em;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  background-color: rgb(00, 00, 255);
  color: #ffffff;   
  width: 100%;
  height: 65px;
  margin: 0px;
}

.wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 36%;
  display:table;

}

.searchBox {
    background: rgb(0, 127, 255);
    position: relative;
    padding: 15px;
    margin-left: 0px;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.dropbtn {
 background-color: rgb(0, 127, 255);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  margin-right: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  font-family: 'Varela Round', sans-serif;
  font-size: 0.8em;
  padding: 10px;
  min-width: max-content;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(0, 127, 255);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 10px;
}

.dropdown:hover .dropbtn {
  background-color: rgb(0, 0, 255);
}

.searchBox .searchText {
  text-align: justify;
  font-family: 'Varela Round', sans-serif;
  outline: none;
  background: #fff;
  padding: 18px;
  color: #000;
  width: 200px;
  height: 5px;
  border-radius: 10px;
  font-size: 0.8em;
  border-color: rgb(0, 0, 255);
  margin-left: 17px;
  margin-top: 2.5px;
}


.content-table {
    font-family: 'Varela Round', sans-serif;
    border-collapse:collapse;
    margin: 25px ;
    font-size: 0.8em;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-color: rgb(0, 0, 255);
  }
  
  .content-table thead th {
    background-color: rgb(0, 0, 255);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 10px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  tr:nth-child(odd) {
    background: #fff;
  }

  tr:nth-child(even) {
    background: rgb(0, 127, 255);
    color: white;
  }






.osm-maps {
  position: relative;
  padding-bottom: 45%; 
  height: 0;
  overflow: hidden;
  }
      .osm-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }



  select
  {
      width: 15%;
      border: 2px solid #ccc;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-image: url('img/selecticon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
  }



  input[type=text] {
      width: 20%;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-image: url('img/searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
  }

      input[type=text]:focus {
          width: 84%;
      }




  .alert {
      padding: 20px;
      background-color: #f44336;
      color: white;
  }

  .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 25px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
  }

      .closebtn:hover {
          color: black;
      }

      body{font-family:Arial;font-size:20px;}


 

